@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.title {
  font-family: "Lobster", sans-serif;
}
.myText {
  -webkit-text-stroke: white 1px;
  color: transparent; /* Text color */
}
.myText3 {
  -webkit-text-stroke: white 1px;
  color: transparent; /* Text color */
}
.myText2 {
  -webkit-text-stroke: #4ade80 2px;
  color: transparent; /* Text color */
}
